<h1>Today</h1>

<% day_date = Time.now.strftime("%d") %>
<% day_name = Time.now.strftime("%A") %>
<%month = Time.now.strftime("%B")%>
<%year = Time.now.strftime("%Y")%>
<p><%="The date is #{day_name}, #{month} #{day_date}, #{year}"%></p>



